# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Virtual environments
venv/
.env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Node (si jamais plus tard)
node_modules/

# VSCode
.vscode/

# Mac
.DS_Store